::ng-deep .p-button {
  min-width: 0px;
}
.image-upload-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .image-upload-label {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .preview-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .preview-image {
      max-width: 100%;
      max-height: 200px;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  .remove-initial-image {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

::ng-deep .image-uploader-control {
  .p-fileupload-content {
    display: flex;
    flex-direction: column;
  }
}
::ng-deep .p-fileupload-file {
  .p-button {
    display: none;
  }
}