<div class="image-upload-container">
  <label class="image-upload-label">{{ label() }}</label>
  <p-fileupload
    #imageUploader
    name="imageSelect"
    mode="advanced"
    [accept]="accept()"
    [customUpload]="true"
    [showUploadButton]="false"
    [showCancelButton]="true"
    chooseLabel="Choisir une image"
    cancelLabel="Supprimer"
    invalidFileTypeMessageSummary="Type invalide:"
    invalidFileTypeMessageDetail="Seuls les fichiers de type image sont autorisés."
    styleClass="image-uploader-control"
    (onSelect)="onSelect($event)"
    (onClear)="onClear()"
  >
    <ng-template pTemplate="content">
      <div class="preview-container">
        <img
          *ngIf="currentImageUrl()"
          [src]="currentImageUrl()!"
          alt="Aperçu de l'image"
          class="preview-image"
        />
      </div>

      <div
        *ngIf="hasFile() && !this.imageUploader()?.files?.length"
        class="remove-initial-image"
      >
        <p-button
          icon="pi pi-times"
          severity="danger"
          (click)="removeImage()"
          label="Supprimer l'image"
        ></p-button>
      </div>
    </ng-template>
  </p-fileupload>
</div>